{% extends '::base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('costumCss/p5_indicatori.css') }}">
        <link rel="stylesheet" href="{{ asset('costumCss/costumCssFosUserBundle/fosUserBundle.css') }}">
    {% endblock %}
        
    {% block contentBody %}
        <div id="mainFormDiv">
            <div class="text-center">
                <button id="add_source_form" class="button btn-small btn-primary"> Add source </button>
            </div>
            <div id="source_form" class="source-form-off">
                <form id="selectSourceType" class="form-horizontal login-form text-center" action="{{ path('p5indicatori_get_user_trakings_sources') }}" {{ form_enctype(form) }} method="POST">
                     {{ form_widget(form) }}
                    </form>
                    <div id="formType"></div>
                </div>
            </div>
    {% endblock %}               
