<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/datepickercss/datepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('costumCss/p5_indicatori.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/bmatznerjqueryui/css/smoothness/jquery-ui.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/bmatznerjqueryui/css/smoothness/jquery.ui.theme.css') }}" /> 
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {# show loader #}
        <div id="freezeLoader"></div>
        {% block body %}
            <div class="container">
                {# user panel informative #}
                {%block userpanel%}
                <div class="well user-panel text-center">
                        <div class="pull-left"><span class="icon-user"></span> Hi <span class="text-info">
                               {{ app.security.token.user.username }} </span>!</div> 
                        <div class="project-title"><strong> Indicators P5 </strong></div>
                        <div class="pull-right"><a href="/logout">Logout <span class="icon-off"></span></a></div>
                </div>
                {# Message alert div #}
                <div id="messageAlert"></div>
                {% endblock %}
                    <div class="row-fluid">
                        <div class="well span2">
                                {%block sidebarContentLeft %}
                                <div id="sidebarMenu" class="sidebar-nav">
                                        <!--Sidebar content-->
                                        {{ knp_menu_render('sidebar', {'nav_type': 'stacked_tabs'}) }}
                                    </div>
                                {% endblock %}
                            </div>
                            <div class="well span10">
                            {%block contentBody %}
                             <!--Body content-->

                            {% endblock %}
                                </div>
                        </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
            <script src="{{ asset('bundles/bmatznerjqueryui/js/minified/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <script src="{{ asset('js/bootstrapdatepickerjs/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('costumJs/costumFunctions.js') }}"></script>
            <script src="{{ asset('costumJs/p5indicatori.js') }}"></script>
            <script src="{{ asset('costumJs/ajaxP5indicatori.js') }}"></script>
        {% endblock %}
    </body>
</html>
