{% trans_default_domain 'FOSUserBundle' %}


<form class="well form-horizontal login-form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <legend><div class="go-in-center">{{ 'Register form'|trans }}</div></legend>
     {{ form_widget(form, { 'attr': {'class': 'go-in-center'} }) }}
    <div class="control-group go-in-center" >
        <input class="btn" type="submit" value="{{ 'Register'|trans }}" />
    </div>
</form>
