{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}        

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('costumCss/p5_indicatori.css') }}">
        <link rel="stylesheet" href="{{ asset('costumCss/costumCssFosUserBundle/fosUserBundle.css') }}">
    {% endblock %}

{% block body %}
    <div class="well container">
        {% block userpanel %}
            {{ parent() }}
        {% endblock %}
        {# select options #}
            <form class="form-horizontal login-form text-center" action="{{ path('p5indicatori_get_user_trakings_sources') }}" {{ form_enctype(form) }} method="POST">
            {{ form_widget(form) }}
                    <div class="control-group go-in-center" >
                        <input class="btn" type="submit" name="submit" value="{{ 'Add source'|trans }}" />
                    </div>
                </form>
    </div>
{% endblock %}