{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}        

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('costumCss/p5_indicatori.css') }}">
        <link rel="stylesheet" href="{{ asset('costumCss/costumCssFosUserBundle/fosUserBundle.css') }}">
    {% endblock %}

{% block body %}
    <div class="well container">
        {% block userpanel %}
            {{ parent() }}
        {% endblock %}
        {# Sources list #}
           {% if userSources|length > 0 %} 
            <div>
                <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td><strong> # </strong></td>
                                <td><strong> Source name </strong></td>
                                <td><strong> Tracking source version </strong></td>
                                <td><strong> Source url </strong></td>
                                <td><strong> Operations </strong></td>
                            </tr>
                        </thead>
                        {% for userSource in userSources %}
                        <tbody>
                            <tr>
                                <td> {{ loop.index }} </td>
                                <td><a href="#">{{ userSource.getSourceName }}</a></td>
                                <td>{{ userSource.getTrackingSourcesTypes }}</td>
                                <td>{{ userSource.getUrlLink }}</td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
           {% else %}
            <div class="alert alert-info text-center">
             You don`t have tracking sources, add one. :)
            </div>
           {% endif %} 
        {# select options #}
            <div class="text-center">
                <button id="add_source_form" class="button btn-small btn-primary"> Add source </button>
                </div>
            <div id="source_form" class="source-form-off">
                    <form class="form-horizontal login-form text-center" action="{{ path('p5indicatori_save_user_trakings_sources') }}" {{ form_enctype(form) }} method="POST">
                            {{ form_widget(form) }}
                            <div class="control-group go-in-center" >
                                <input class="btn" type="submit" name="submit" value="{{ 'Add source'|trans }}" />
                            </div>
                        </form>
                </div>
    </div>
{% endblock %}